:root {
    --glow-rgb: 245 245 245;

    --light-gold-rgb: 102 0 102;
    --dark-gold-rgb: 51, 0, 51;
    

}




@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

#app {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#star-container {
    background: radial-gradient(rgb(var(--light-gold-rgb)), rgb(var(--dark-gold-rgb)));
    height: 100%;
    overflow: hidden;
    position: relative;
}

#star-pattern {
    background-image: url("https://assets.codepen.io/1468070/Star+Pattern+3.svg");
    background-size: 10%;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
}

#star-gradient-overlay {
    background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
}

.center {

    border: 3px solid green;
    padding: 10px;
    height: 50%;
}

.middle-div {
    position: relative;
    top: 46%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sm-glitched-text {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 3vw, 5rem);

    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.lg-glitched-text {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 5vw, 10rem);

    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.glitched-text {
    color: white;
    display: inline-block;
    /* makes it so that it doesnt expand to parent*/

}

.glitched-text:hover {
    background-color: white;
    color: black;
    z-index: 4;
}