



@font-face {
  font-family: 'MyCustomProjectFont'; /* This is the name you'll use in your CSS */
  src: url('./assets/fonts/Jersey_15/Jersey15-Regular.ttf') format('ttf'); /* Path relative to this CSS file */
  font-weight: 400; /* Or whatever weight this specific file represents */
  font-style: normal;
  font-display: swap; /* Tells the browser how to display text while the font is loading */
}

/*
body {
  background-color: #92a8d1;
}*/

.my-custom-dark {
  color : #000000;
  background-color: #000000;

}


.my-custom-dark-two {
  background-color: #1e103d;

}

.my-custom-dark-three {
  background-color: #150b2c;
}
body {
  padding-top: 60px; /* This value must match the height of your navbar */
}


.custom-nav-font {
  font-family: 'MyCustomProjectFont', sans-serif; /* Use the font name you imported */
  font-weight: 400; 
  font-size: 1.1rem; /* Example: make it slightly larger */

}

.box {
  background: #142d4a;
  height: inherit;

  border-radius: 10px; 
  position: relative;



}


@property --deg{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;

}
 


@keyframes autoRotate{
  to {
    --deg: 360deg;
  }
}

.box2 {
    background: #142d4a;

  background: conic-gradient(
    from var(--deg) at center,
    #00c3ff,
    #4d0199,
    #6300c6,
    #009dcd,
    
    #00c3ff
  );

  

  animation: autoRotate 2s linear infinite;
  transition: all 0.4s;
  animation-play-state: paused;

}
.box2:hover {
  transform: scale(1.01);
  
}
.rotatebox2 {
  animation-play-state: running;
}


.responsive-image {
  width: clamp(30px, 3.5vw, 40px); /* min: 50px, preferred: 5vw, max: 100px */
  height: auto;
  display: block;
}


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);

  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
    
  }
}

/* intro anim for stuff omg wtf why is it cool riyal or fakeh*/
.intro-animation *  {
  animation-duration: 0.8s;
  animation-name: fade-up;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}