



@font-face {
  font-family: 'MyCustomProjectFont'; /* This is the name you'll use in your CSS */
  src: url('./assets/fonts/Jersey_15/Jersey15-Regular.ttf') format('ttf'); /* Path relative to this CSS file */
  font-weight: 400; /* Or whatever weight this specific file represents */
  font-style: normal;
  font-display: swap; /* Tells the browser how to display text while the font is loading */
}

/*
body {
  background-color: #92a8d1;
}*/

.my-custom-dark {
  color : #000000;
  background-color: #000000;

}


.my-custom-dark-two {
  background-color: #1e103d;

}

.my-custom-dark-three {
  background-color: #150b2c;
}
body {
  padding-top: 60px; /* This value must match the height of your navbar */
}


.custom-nav-font {
  font-family: 'MyCustomProjectFont', sans-serif; /* Use the font name you imported */
  font-weight: 400; 
  font-size: 1.1rem; /* Example: make it slightly larger */

}

.box {
  background: #142d4a;
  height: inherit;

  border-radius: 10px; 
  position: relative;



}


@property --deg{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;

}
 


@keyframes autoRotate{
  to {
    --deg: 360deg;
  }
}

.box2 {
    background: #142d4a;

  background: conic-gradient(
    from var(--deg) at center,
    #00c3ff,
    #4d0199,
    #6300c6,
    #009dcd,
    
    #00c3ff
  );

  

  animation: autoRotate 2s linear infinite;
  transition: all 0.4s;
  animation-play-state: paused;

}
.box2:hover {
  transform: scale(1.01);
  
}
.rotatebox2 {
  animation-play-state: running;
}



.responsive-image {
    max-width: 3em;
    height: auto;
    /* Optional */
    display: block;
}


.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.book {
  width: 125px;
  height: 180px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book, 
.book-container:focus .book {
  transform: rotateY(-30deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 125px;
  height: 180px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 1px;
  width: 28px;
  height: 178px;
  transform: translateX(109px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 125px;
  height: 180px;
  transform: translateZ(-15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

